<a href="https://colab.research.google.com/github/sandeeppatra49/My-codes/blob/main/Practice/pattern_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Squre pattern with provided fixed digitin each row:

In [31]:
n=int(input('Enter n value:')) 
for i in range(n):
  print((str(i+1)+ ' ')*n)

Enter n value:4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

# Squre pattern with provided fixed characters in each rows:

---

In [32]:
n=int(input('Enter n value:'))
for i in range(n):
  print((chr(65+i)+ ' ')*n)

Enter n value:4
A A A A
B B B B
C C C C
D D D D

# To print right angle triangle

In [33]:
n=int(input('Enter n value:'))
for i in range(n):
  print('* '*(i+1))

Enter n value:4
*
* *
* * *
* * * *

# To print reverse right angle triangle:

In [34]:
n=int(input('Enter n value:'))
for i in range(n):
  print('* '*(n-i))

Enter n value:4
* * * *
* * *
* *
*

# To print pyramidal pattern with symbols:

In [35]:
n= int(input('Enter n value:'))
for i in range(n):
  print(' '*(n-i-1)+'* '*(i+1))

Enter n value:4
   *
  * *
 * * *
* * * *

# To print reverse pyramidal pattern with symbols:

In [36]:
n=int(input('Enter n value:'))
for i in range(n):
  print(' '*i +'* '*(n-i))

Enter n value:4
* * * *
 * * *
  * *
   *

# To print diamond pattern with '*' symbol:

In [37]:
n=int(input('Enter n value:'))
for i in range(n):
  print(' '*(n-i-1)+'* '*(i+1))

for i in range(n-1):
  print(' '*(i+1)+'* '*(n-i-1))

Enter n value:4
   *
  * *
 * * *
* * * *
 * * *
  * *
   *