<a href="https://colab.research.google.com/github/sandeeppatra49/My-codes/blob/main/Practice/user_input_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# WAP to print table of n, whwre n is entered by the user?

In [ ]:
n=int(input('enter the n value'))
for i in range(11):
  if i==0:
    continue
  print(n*i)

enter the n value5
5
10
15
20
25
30
35
40
45
50

# WAP to print n natural numbers, where n is entered by user?

In [ ]:
n=int(input('enter the n value:'))
sum=0
i=0
while i<=n:
  sum=sum+i
  i=i+1
print('The sum:', sum)

enter the n value2
The sum: 3

# Wap to print factorial of given number

In [ ]:
n=int(input('enter the n value:'))
mul=1
i=1
while i<=n:
  mul=mul*i
  i=i+1
print('the bfactorial of num:', mul)

enter the n value:3
the bfactorial of num: 6

# WAP to input sales of the month and calculate the average sales of that month?

In [9]:
sales=input('Enter elements of list separated by space:')
sales_1=sales.split()
l=len(sales_1)
print('list:',sales_1)
for i in range(len(sales_1)):
    sales_1 [i]=int(sales_1[i])
print('sum=', sum(sales_1))
print(l)
print('Average:', sum(sales_1)/len(sales_1))

Enter elements of list separated by space:5 5 5 5 5
list: ['5', '5', '5', '5', '5']
sum= 25
5
Average: 5.0